.form__selloff{
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    min-height: 500px;
}

@media screen and (max-width: 799px) {
    .form__selloff {
        padding: 20px;
    }
}

.form__selloff form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.bill__items__table{
    width: 60%;
    height: 100%;
    float: left;
    margin-bottom: 20px;
    margin-right: 2px;
    align-items: center;
}

.bill__infos{
    width: 39%;
    height: 100%;
    float: right;
    margin-bottom: 20px;
    padding-left: 2px;
    align-items: center;
    border-left: 1px solid black;
}

.form__tittle{
    margin-left: 1px;
    text-align: left;
    float: left;
    width: 37%;
}
input{
    float: right;
    margin-right: 5px;
    border-bottom: 1px solid black;
    width: 60%;
}

.input__vars{
    float: right;
    margin-right: 5px;
    border-bottom: 1px solid black;
    width: 60%;
}

.head__tittles{
    color: #10182F;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    width: 95%;
    text-align: center;
    border-bottom: 1px solid black;
}

table{
    width: 99%;
    height: 100%;
}

tr{
    width: 100%;
}

td{
    width: 25%;
}

.btn{
    width: auto;
    margin-bottom: 2px;
    margin-left: 2px;
}

form{
    height: 100%;
    margin-bottom: 20px;
}