<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1}:%L - %msg%n" />

        </Console>

        <RollingFile name="PtitShop_INFO" filename="PtitShop/ptit_shop.log"   filepattern="PtitShop/ptit_shop.log.125.1.%d{YYYY-MM-dd}.gz">
            <!--	        <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{2} (%M(%L)) %c{1} %msg%n" />-->
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1}:%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="7" />
        </RollingFile>
        
        
        <RollingFile name="PtitShop_ERROR" filename="PtitShop/ptit_shop.log"   filepattern="PtitShop/ptit_shop.125.1.%d{YYYY-MM-dd}.log.gz">
            <!--	        <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1} %msg%n" />-->
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1}:%L - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="300 MB" />
            </Policies>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <DefaultRolloverStrategy max="2" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="PtitShop_INFO" />
            <AppenderRef ref="PtitShop_INFO" />
            <AppenderRef ref="PtitShop_INFO" />
            <AppenderRef ref="PtitShop_ERROR" />
            <AppenderRef ref="Console" />
        </Root>
        <!-- <logger name="org.springframework" level="DEBUG" />  -->
    </Loggers>
</Configuration>

